			#pie-area {
			width: inherit;
			height: 600px;
		}
		
		#test {
			width: 100%;
			height: 100%;
		}
		
		#show-data-1 {
			width: inherit;
			height: 300px;
		}
		
		#trail {
			width: 100%;
			height: 600px;
		}
		
		#show-map {
			float: left;
			height: inherit;
			width: 80%;
		}
		
		#choose-data {
			float: left;
			height: inherit;
			width: 20%;
			padding-top: 20px;
			padding-left: 5px;
		}
		
		#show-od {
			width: 100%;
			height: 600px;
		}
		
		#main-anomaly {
			width: 100%;
			height: 700px;
		}
		
		#use-frequence {
			right: 2px;
		}
		
		#use-frequence,
		#drving-force {
			width: 40%;
			height: 300px;
			border-color: lightblue;
			border-style: ridge;
		}
		
		#hotpot-visit,
		#drive-trail {
			top: 5px;
			width: 80%;
			height: 300px;
			border-color: lightblue;
			border-style: ridge;
			label {
				font-size: 18px;
			}
			@media (max-width: 767px) {
				#ribbon {
					background-color: #474747;
				}
			}
